:root {
  --warning-bg-a: #ffbfbf;
  --warning-highlight-a: #ff0000;
  --warning-bg-b: #ffafaf;
  --warning-highlight-b: #ff2f2f;
  --lc-bg: #dfdfe8;
  --lc-bg-2: #f8f8ff;
  --lc-bg-3: #f4f4f4;
  --lc-color: #000000;
  --lc-border-3: #2f2f2f;
  --modal-shadow-bg: #4f4f4fdf;
  --new-element-highlight: #00ffff;
  --edit-element-highlight: #ffff00;
  --note-border: #ffe8b8;
  --note-bg: #fffce8;
  --scroll-bar: #9f9f9f;
  --scroll-bar-hover: #6f6f6f;
  --scroll-bar-bg: #e1e1e1;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  margin: 2rem;
  line-height: 1.4;
  z-index: 5;
}

body.local-controls-enabled::-webkit-scrollbar {
  display: block;
  width: 10px;
  z-index: 5;
}

body.local-controls-enabled::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg);
}

body.local-controls-enabled::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar);
  border-right: none;
  border-left: none;
}

body.local-controls-enabled::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bar-hover);
}

body.local-controls-enabled::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 25rem;
}

body.local-controls-enabled::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

body.unsaved-changes {
  /* 2rem is default */
  margin-top: Calc(2rem + 25px);
}

#unsaved-changes-banner {
  position: fixed;
  top: 0;
  left: 0;
  height: 25px;
  width: 100%;
  background-color: var(--note-bg);
  text-align: center;
color: var(--lc-color);
}

input,
textarea {
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 0.5rem;
  margin: 0.25rem 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
}

input.text-input {
  width: Calc(100% - 1rem - 4px);
  /* padding 0.5rem, border 2px */
}

textarea {
  width: Calc(100% - 1rem - 2px);
  min-height: 6rem;
  font-family: "Arial", sans-serif;
}

img {
  display: block;
  margin: 1rem 0;
  max-width: Calc(100vw - 4rem);
}

.color-picker {
  height: 2rem;
  padding: 2px;
}

.edit-container {
  display: block;
  width: 100%;
}

.edit-container select {
  display: block;
}

.edit-ui-container {
  /* TODO */
  border: 2px solid aqua;
}

.editor-sub-container {
  /* TODO */
  border: 2px solid lawngreen;
}

#currently-editing {
  padding: 2px;
}

label.edit,
input.edit,
fieldset.edit {
  width: Calc(100% - 1rem);
}

fieldset.edit>div {
  line-height: 1.5rem;
  display: inline-block;
  margin-right: 1rem;
}

fieldset.edit>div>label {
  margin: 0 5px;
}

select.edit {
  padding: 0.25rem;
  min-width: 4rem;
}

label.edit,
input.edit,
select.edit,
fieldset.edit {
  margin-bottom: 0.5rem;
}

.controls-section label.note {
  border: 1px solid var(--note-border);
  background-color: var(--note-bg);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#local-controls-container {
  width: 100%;
  margin-top: 25rem;
}

#local-controls, #local-controls-minimized {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 25rem;
  background-color: var(--lc-bg);
  color: var(--lc-color);
  text-align: left;
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  outline: 1px dashed var(--lc-border-3);
  overflow-y: scroll;
  font-size: 16px;
  z-index: 10;
}

#local-controls-minimized {
  height: 3rem;
}

#local-controls::-webkit-scrollbar {
  width: 20px;
}

#local-controls::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar);
}

#local-controls::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bar-hover);
}

#local-controls::-webkit-scrollbar-track {
  background-color: var(--scroll-bar-bg);
}

#local-controls #editor-state {
  font-weight: bold;
  margin: 0.125rem 0;
  color: var(--warning-highlight-a);
  text-align: center;
}

.local-controls-alert {
  border: 2px solid var(--warning-highlight-a);
  background-color: var(--warning-bg-a);
  padding: 0rem 1rem;
  margin: 1rem 0;
  position: relative;
  transform: scaleY(1);
}

.local-controls-alert button {
  position: absolute;
  top: 6px;
  right: 2px;
}

.local-controls-alert.alert-removed {
  display: none;
}

#local-controls fieldset label,
#local-controls fieldset input {
  display: inline-block;
}

fieldset label {
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}

#local-controls figure {
  margin: 0 0 1rem;
}

#local-controls figure figcaption,
#local-controls figure img {
  display: inline;
  margin: 0;
}

#local-controls figure img#current-favicon-preview {
  width: 16px;
  position: relative;
  top: 3px;
}

#local-controls figure#social-image-preview {
  width: 100%;
}

#local-controls figure img#current-social-image-preview {
  object-fit: contain;
  display: block;
  width: 100%;
  max-width: 300px;
}

#local-controls-container button,
.edit-buttons button {
  margin: 0 0.25rem;
  display: inline-block;
  font-size: 1.125rem;
}

.controls-section {
  width: 100%;
  margin: 0.5em 0 2rem;
}

.controls-section label,
.controls-section input,
.controls-section textarea,
.controls-section button {
  display: block;
}

.controls-section input,
.controls-section textarea,
.controls-section button {
  margin: 0.5rem 0 1rem;
}

.controls-section .below-label {
  margin: -0.5rem 0 1rem;
}

#update-favicon {
  margin-bottom: 0.25rem;
}

.edit-buttons {
  background-color: none;
  margin: 0.5rem 0;
  display: inline-block;
}

.edit-buttons button.delete-button {
  border: 2px outset var(--warning-highlight-a);
  background-color: var(--warning-bg-a);
}

.edit-buttons button.delete-button:hover {
  border: 2px outset var(--warning-highlight-b);
  background-color: var(--warning-bg-b);
}

.controls-section label {
  margin: 0.25rem 0;
}

#new-content-modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--modal-shadow-bg);
}

#new-content-modal {
  margin: 5rem 10% 0;
  background-color: var(--lc-bg-2);
  padding: 1rem 2rem;
  width: Calc(80% - 2rem - 2rem);
  /* 2rem is body margin */
}

#new-content-modal li {
  margin: 0.5rem;
}

.image-preview {
  border: 1px dashed var(--lc-border-3);
  background-color: white;
  max-width: 150px;
}

.placeholder {
  border: 1px dashed var(--lc-border-3);
  background-color: var(--lc-bg-3);
  color: var(--lc-border-3);
  padding: 2rem;
  text-align: center;
  width: 100%;
  max-width: 300px;
  height: 5rem;
}

.hidden {
  display: none;
}